.login-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background: url(../images/banner.jpg) no-repeat center;
  /*background: #7f801e;*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-attachment: fixed;
  text-align: center;
  position: relative;
}

.login-body .login-form {
  max-width: 600px;
  margin: 0 5vw;
  background: rgba(10, 10, 10, 0.17);
  padding: 3.5vw;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 8px solid #11d26c;
  border-radius: 20px 20px 28px 28px;
}

.w3ls-pos {
  position: absolute;
  top: 40px;
  left: 29%;
}

.w3ls-login {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
}

.login-body h1 {
  font-size: 2.8em;
  font-weight: 300;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 2px;
  margin: 1.2em 1vw;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.w3ls-login .login-form {
  max-width: 500px;
  margin: 0 5vw;
  padding: 3.5vw;
  border-width: 5px 0;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.agile-field-txt {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
  margin-bottom: 1.5em;
  text-align: left;
}

.w3ls-login input[type="text"],
.w3ls-login input[type="password"] {
  width: 100%;
  color: #606266;
  outline: none;
  font-size: 17px;
  letter-spacing: 0.5px;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  -webkit-appearance: none;
  font-family: 'Open Sans', sans-serif;
  background: rgba(0, 0, 0, 0.53);
}

.w3ls-login label {
  font-size: 14px;
  color: #fcf6ff;
  display: inline-block;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.w3ls-login label i {
  font-size: 15px;
  margin-left: 5px;
  color: #f7296f;
  border-radius: 50%;
  line-height: 1.9;
  text-align: center;
}

.w3ls-login ::-webkit-input-placeholder {
  color: #000;
}

.w3ls-login :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
}

.w3ls-login ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
}

.w3ls-login :-ms-input-placeholder {
  color: #000;
}

.check1 {
  text-align: left;
}

.login-body label.check {
  color: #ededed;
  letter-spacing: 1px;
  font-size: 16px;
  display: inline-block;
}

.agile_label {
  text-align: left;
  margin: 10px 0 0;
}

.w3ls-login.w3l-sub {
  margin-top: 1em;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

.w3ls-login input[type=submit] {
  color: #000000;
  width: 100%;
  padding: 0.4em 0;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.38);
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
}

.w3ls-login input[type=submit]:hover {
  color: #fff;
  box-shadow: 0 20px 5px -10px rgba(0, 0, 0, 0.4);
  transform: translateY(5px);
}

.w3ls-bot {
  margin-top: 1em;
  width: 100%;
}

#particles-js {
  width: 100%;
  height: 100%;
}

/*--copyright--*/

.copy-wthree {
  margin: 4vw .3vw 2vw;
}

.copy-wthree p {
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.copy-wthree p a {
  color: #fff;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  text-decoration: underline;
}

.copy-wthree p a:hover {
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .w3ls-pos {
    left: 22%;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 4.5vw;
  }
}

@media (max-width: 900px) {
  .w3ls-pos {
    left: 16%;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 5vw;
  }

  .w3ls-pos {
    left: 10%;
  }
}

@media (max-width: 736px) {
  .w3ls-pos {
    left: 9%;
  }
}

@media (max-width: 667px) {
  .w3ls-pos {
    left: 4%;
  }
}

@media (max-width: 600px) {
  .w3ls-pos {
    top: 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 7vw;
  }

  .w3ls-login .login-form {
    padding: 7.5vw;
  }
}

@media (max-width: 440px) {
  .parent {
    display: block;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.8em;
  }

  .w3ls-login .login-form {
    padding: 25px 8px;
  }

  .w3ls-login input[type="email"],
  .w3ls-login input[type="password"] {
    padding: 10px 15px;
  }

  .w3ls-login input[type=submit] {
    color: #000000;
    font-weight: 100;
    width: 100%;
    padding: 0.3em 0;
  }

  .w3ls-pos {
    left: 0%;
  }
}

/*--//responsive--*/
